page-pharmacies-list {
    .buttonLocate {
        width: 50px;
        background: white;
        height: 50px;
        border-radius: 50%;
        box-shadow: 3px 2px 5px rgb(135, 136, 158);
    }
    .buttonLocate img {
        width: 100%
    }
}