page-pharmacies {
    sebm-google-map {
        height: 300px;
    }
    .buttonLocate {
        position: absolute;
        width: 40px;
        background: white;
        height: 40px;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        box-shadow: 3px 2px 5px grey;
    }
    .buttonLocate img {
        width: 100%
    }
    .buttonLocateMap {
        position:relative;
        width: 45px;
        background: rgb(21, 14, 109);
        height: 40px;
        border-radius: 70%;
        box-shadow: 3px 2px 5px grey;
        left:120px;

    }
    .buttonLocateMap img {
        width: 100%
    }
}